<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Show Headers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<table>
    <tr th:each="header : ${headers}">
        <td th:text="${header.key}">key</td>
        <td th:text="${header.value}">val</td>
    </tr>
</table>
</body>
</html>